[submodule "duckdb-pgq"]
	path = duckdb-pgq
	url = git@github.com:cwida/duckdb-pgq.git
	branch = main
[submodule "duckdb"]
	path = duckdb
	url = git@github.com:duckdb/duckdb.git
	branch = main
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools
	branch = main